/* CSS Document */

body {
	top: 0;
	margin: 0;
	/*background: url(images/vertical.png) repeat-x top left #252525;*/
}

#tot {
	margin-left:auto;
	margin-right: auto;
	width: 988px;
	background: url(images/grad.png) repeat-y top;
	border: #FFFFFF solid 1px; 
}
/*logo tipo de telefonos y email*/
/*.informacion img {
	width:1%;
	height: 5px;
}*/
/*Encabezado de la pagina*/

#header {
	height: 101px;
}
#header img{
	width:20%;
	height: 100px;
	position:absolute;
	top:20px;
	left:200px;
}
#header ul{
	text-align:center;
}

.title {
	line-height: 44px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight: bold;
}

/*Barra de Navegacion*/
.navegacion{
	width:1000px;
	margin:30px auto;
	background:#fff;
}
.navegacion ul{
	list-style:none;
}

.menu > li{
	position:relative;
	display:inline-block;
}
.menu > li > a{
	display:block;
	padding:25px 20px;
	color:#353535;
	font-family:'Open sans';
	text-decoration:none;
}

.menu li a:hover{
	color:#CE7D35;
	transition:all .3s;
}
/*submenu*/
.submenu{
	position:absolute;
	background:#333333;
	width:130%;
	display:none;
}
.submenu li a {
	display:block;
	padding:15px;
	color:#fff;
	font-family:'Open sans';
	text-decoration:none;
}
.menu li:hover .submenu{
	display:block;
}
/* ***** CONFIGURACION IMAGENES ***** */
.slider{
	width: 100%; /*Ancho de la imagen y centrado*/
	margin: 0;
	overflow: hidden; /*Ocultar imagenes dentro de la primera*/
	
}

.slider ul {
	display: flex; /*Imagenes flexibles*/
	padding: 0; /*Quitar el relleno que queda en la imagen*/
	width: 300%; /*Tamaño*/
	
	animation: cambio 20s infinite alternate; /*Animacion para la transicion infinita de
	imagenes en
	20s*/

	/*Especie de bucle para que cuando finalice la ultima proyeccion no suba bruscamente*/
}

.slider img{ /*Tamaño que ocupa la imagen, ancho*/
	width:100%;
	height: 500px;
}

.slider li{ /*Eliminar estilo*/
	width: 100%; /*Ancho*/
	list-style: none;
}
@keyframes cambio { /*Lapsos de tiempo entre los cambios de imagen*/
	
	/*Primera imagen*/
	0%{margin-left: 0%;} /*ERROR*/
	0%{margin-left: 0%;}
	20% {margin-left: 0%;} /*Del 0 al 20% a nuestra imagen no le pasara nada (Durante 4
	segundos se mantendra) (20*0.2)*/
	
	/*Del 20% al 25& representa el tiempo que tardara en efectuarse la transicion (20 * 0.05= 1 segundo)*/
	
	/*Segunda imagen*/
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	
	/*Transicion de 4 segundos*/
	
	/*Tercera imagen*/
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	
	
	/*Cada imagen se mantendra 4 segundos y el tiempo de transicion es de 1 segundo*/
}
.butonas {

	width: 110px;
	height: 34px;
	float: left;
	margin-right: 10px;
	line-height: 34px;
	color: #1F4D7A;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	text-align:center;
}

.butonas a{
	background: url(images/butonas.jpg) no-repeat left;
	display:block;
	color: #1F4D7A;
	text-decoration:none;
}

.butonas a:visited{
		color: #1F4D7A;
	text-decoration:none;
}

.butonas a:hover{
	background: url(images/hover.jpg) no-repeat left;
}

#corp {
	background: #D3DBF8;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	border-bottom: #12212E solid 2px;
	border-top: #12212E solid 2px;
}

.main-text {
	background: #FFFFFF;
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 300px;
	position: relative;
	border: #5288AE solid 1px;
	padding-left: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.main-text p{
	line-height: 130%;
	padding-right: 50px;
	}

#menius{ 	
	width: 240px;
	position:absolute;
	top: 50px;
	right: -210px;
	background: #DAE6AC;
	border: #80942E solid 1px;
}

.menu-item {
	height: 30px;
	background: #DAE6AC;
	line-height: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:16px;
}

.menu-item a{
	color: #333333;
	text-decoration:none;
	display: block;
}

.menu-item a:visited{
	color: #333333;
	text-decoration:none;

}
.menu-item a:hover{
	color: #333333;
	text-decoration:none;
	background: #B4CB58;
}



.menu-title {
	height: 30px;
	font-size: 20px;
	background: #80942E;
	line-height: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	text-align:center;
}

.footer {
	height: 35px;
	color: #FFFFFF;
	line-height: 34px;
	padding-left: 30px;
}

.footer a{
		color: #FFFFFF;
		text-decoration:underline;
}

.footer a:visited {
		color: #FFFFFF;
		text-decoration:underline;
}
.clear {
	clear: both;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.ttitle {
	color: #5A661A;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	padding: 25px 0;
	font-weight:bold
}